.checkout-container {
  display: flex;
  width: 100%;
  max-width: 1170px;
  margin: auto;
  margin-top: 40px;
  gap: 124px;
}
.checkout-left {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.checkout-left-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.checkout-left-top h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #01040d;
}
.checkout-left-top .checkout-clear {
  border: 1px solid #8991a4;
  border-radius: 12px;
  padding: 2px 10px;
  cursor: pointer;
}
.checkout-left-bottom {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 20px;
}
.checkout-left-bottom-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #ffffff;
  padding: 16px;
  box-shadow: 0px 4px 30px rgba(27, 25, 86, 0.1);
  border-radius: 16px;
}
.checkout-card-left p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #01221d;
}
.checkout-card-left {
  display: flex;
}
.checkout-card-left img {
  width: 60px;
  height: 60px;
  margin-right: 12px;
}
.checkout-card-left div div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.checkout-card-quantity {
  display: flex;
  align-items: center;
  margin-top: 12px;
}
.checkout-card-quantity p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 24px;
  text-align: center;
  color: #01040d;
}
.checkout-card-quantity-count {
  margin-top: -5px;
}
.checkout-card-quantity-icon {
  font-size: 1.5rem;
  cursor: pointer;
}
.checkout-card-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.checkout-card-right p {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-align: right;

  color: #01040d;
}

/* right */
.checkout-right {
  flex: 1;
  display: flex;
}
.checkout-card {
  background: #f9fafb;
  border-radius: 16px;
  width: 473px;
  height: 492px;
  padding: 32px 40px;
}
.checkout-card div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.checkout-card div h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #01040d;
  margin-bottom: 20px;
}
.checkout-card div p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #01221d;
}
.checkout-card div b {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #01040d;
}
.checkout_total {
  font-style: normal;
  font-weight: 700 !important;
  font-size: 22px !important;
  line-height: 28px;
  color: #01040d;
}
.checkout-card div input {
  border: 1px solid #8991a4;
  border-radius: 12px;
  background-color: transparent;
  padding: 12px 20px;
  color: #8991a4;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.checkout-card div .checkout_apply {
  border: 1px solid #01040d;
  border-radius: 12px;
  background-color: transparent;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  color: #01040d;
  padding: 12px 36px;
  cursor: pointer;
}
.checkout-btn {
  width: 100% !important;
}
