.latest-product-container {
  max-width: 1170px;
  width: 100%;
  margin: 40px auto;
}
.latest-product-wrapper h1 {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #01040d;
}
.latest-wrapper-head {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.latest-wrapper-head div {
  display: flex;
  gap: 8px;
}
.latest-product {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 24px;
  row-gap: 66px;
}
