.header-container {
  background-color: #fbfcff;
  border-radius: 0px 0px 16px 16px;
  padding-top: 24px;
}
.header-wrapper {
  display: flex;
}
.header-shape {
  /* width: 1170px; */
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 100px;
  /* padding: 0 2rem; */
}

.header-shape_left h1 {
  max-width: 450px;
  width: 100%;
  font-weight: 700;
  font-size: 44px;
  line-height: 55px;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 12px;
  margin-bottom: 20px;
}
.header-shape_left p {
  max-width: 400px;
  width: 100%;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #666666;
  margin-bottom: 40px;
}
.header-shape_left span {
  background: #eef4fe;
  border-radius: 6px;
  color: #0062f5;
  padding: 8px 12px;
  font-size: 12px;
  font-weight: 600;
}
.header-shape_left button {
  background: #212121;
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.15);
  padding: 14px 24px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  margin-top: 1rem;
  cursor: pointer;
}
