.offerbanner {
  background: #f5b3a5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 152px;
  gap: 120px;
  margin-top: 5rem;
}
.offerbanner_img {
  position: absolute;
  left: 0;
}
.offerbanner h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: #01040d;
}
.offerbanner p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #01040d;
}
.offerbanner_right {
  display: flex;
  align-items: center;
  gap: 12px;
}
.offer-input {
  position: relative;
}
.offer-input input {
  border: 1px solid #ffffff;
  border-radius: 16px;
  background-color: transparent;
  padding: 14px 16px 14px 50px;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  width: 100%;
  max-width: 360px !important;
}
.offer-input-icon {
  position: absolute;
  left: 16px;
  top: 16px;
}
.offerbanner-btn {
  background: #01040d;
  border-radius: 16px;
  padding: 14px 30px 14px 30px;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
}
.offer-input input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

.offer-input input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

.offer-input input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}
