.wishlist-container {
  width: 100%;
  background-color: #fbfcff;
  height: calc(100vh - 80px);
}
.wishlist-wrapper-top {
  width: 100%;
  max-width: 1170px;
  margin: auto;
}
.wishlist-title {
  position: relative;
  z-index: 1;
  height: 100px;
  display: flex;
  align-items: center;
}
.wishlist-title-bg {
  position: absolute;
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 100px;
  color: #f1f1f1;
  top: 0;
  z-index: -1;
  user-select: none;
  width: 352px;
}
.wishlist-left-top h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #01040d;
}

.wishlist-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 24px;
}
.wishlist-card {
  width: 275px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 9px;
  box-shadow: 1px 1px 10px rgb(241 241 241);
}
.wishlist-card-top {
  display: flex;
  justify-content: space-between;
}
.wishlist-card-top img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}
.wishlist-card-mid {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 5px;
  padding: 0 1rem 1rem 1rem;
}
.wish-card-mid-row {
  display: flex;
  justify-content: space-between;
}
.wish-card-mid-row div {
  display: flex;
  gap: 5px;
}
.wishlist-card-mid img {
  width: 100px;
  object-fit: contain;
  /* border-radius: 16px; */
}
.wishlist-card-mid p {
  color: #01040d;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}
.wishlist-card-mid span {
  color: #01040d;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.wishlist-card-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0 1rem 1rem 1rem;
}
.wishlist-card-bottom .wishlist_trash {
  font-size: 1.4rem;
  cursor: pointer;
  color: #01040d;
}
.wishlist-card-bottom .wishlist-cart-icon {
  font-size: 1.4rem;
  cursor: pointer;
  color: #01040d;
}
.wishlist-card-color {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
